.MyComponent {
  font-size: 40px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 12px;

}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 25px;
}

.input{
  padding: 15px;
  width: 20%;
  margin: left;
  border: 2px solid rgb(101, 8, 8);
  border-radius: 6px;
  font-size: 16px;
}
.weather-data {
  margin-top: 10px;
  margin-left: 80px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}
.city{
  font-size: 30px;
  border: 1px solid lightgray;
  font-weight: 100;
}
.temp{
  font-size: 40px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.weather {
  font-size: 30px;
  font-weight: 200;
  border: 1px solid lightgray;
  border-radius: 12px;

}










.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
