.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 25px;
}

.input{
  padding: 15px;
  width: 20%;
  margin: auto;
  border: 2px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}