.MyComponent {
  font-size: 140px;
  padding: 10px;
  border: 12px solid rgb(152, 243, 6);
  border-radius: 132px;

}


.inputStock {
  padding: 15px;
  width: 20%;
  margin: left;
  border: 4px solid rgb(101, 8, 8);
  border-radius: 6px;
  font-size: 16px;}


.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 175px;
}

.input{
  padding: 15px;
  width: 20%;
  margin: left;
  border: 4px solid rgb(101, 8, 8);
  border-radius: 2px;
  font-size: 16px;
}
.weather-data {
  margin-top: 10px;
  margin-left: 90px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

.city{
  font-size: 30px;
  padding: 1px;
  border: 1px solid rgb(221, 139, 16);
  font-weight: 100;
  border-radius: 12px;
}
.temp{
  font-size: 40px;
  padding: 1px;
  border: 1px solid rgb(54, 155, 238);
  border-radius: 12px;
}
.weather {
  font-size: 30px;
  padding: 1px;
  font-weight: 80;
  border: 1px solid rgb(199, 226, 42);
  border-radius: 12px;

}


/*.stock-data {
  margin-top: 1px;
  margin-left: 90px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: right;
  
}*/

.stock{
  font-size: 30px;
  padding: 1px;
  border: 1px solid rgb(172, 10, 10);
  font-weight: 80;
  border-radius: 12px;
}

.openstock{
  font-size: 20px;
  
  border: 1px solid rgb(197, 33, 197);
  font-weight: 80; 
  border-radius: 12px;
}